<ul>
  <li class="interc-1 to-edit"> <strong>First Name:</strong> <%= user.escape("fname") %></li>

  <li class="interc-2 to-edit"><strong>Last Name:</strong> <%= user.escape("lname") %></li>

  <li class="interc-1 to-edit"> <strong>Education: </strong> <%= user.escape("education")%></li>

</ul>