<h1>Sign Up!</h1>
<form action="<%= users_url %>" method="post" class="home new-user">
  <input
       name="authenticity_token"
       type="hidden"
       value="<%= form_authenticity_token %>">

  <label for="user_fname">
    First Name
    <input type="text" name="user[fname]" id="user_fname">
  </label>



  <label for="user_lname">
    Last Name
    <input type="text" name="user[lname]" id="user_lname">
  </label>

  <label for="user_email">
    email
    <input type="email" name="user[email]" id="user_email">
  </label>



  <label for="user_password">
    Password
    <input type="password" name="user[password]" id="user_password">
  </label>



  <label for="confirmpass">
    Confirm Password
    <input type="password" name="confirm" id="confirmpass">
  </label>


  <div class="buttons-sign group">
    <button>Sign Up</button>
    <div class="face">
      <a href="/auth/facebook"><img id="face" src="images/facebook.jpg"></a>
    </div>
  </div>
</form>
