<script>

</script>

<form action="<%= place_requests_url(id) %>" method="post" class="request" data-remote="true">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="start_date">
    Check in
    <input type="text" name="request[start_date]" class="datepicker">
  </label>

  <label for="end_date">
    Check out
    <input type="text" name="request[end_date]" class="datepicker">
  </label>



  <label for="message">
    Message
    <textarea name="request[message]" id="message"></textarea>
  </label>
  <% if !owner %>
  <button>Make Request</button>
  <% else %>
    <h6>This is your place</h6>
  <% end %>

</form>