

<form>
<ul>
  <li>
    Title <input type="text" name="place[title]">
  </li>
  <li>
    Kind <input type="text" name="place[kind]">
  </li>
  <li>
    Guests <input type="text" name="place[guests]">
  </li>
  <li>
    Beds <input type="text" name="place[beds]">
  </li>
  <li>
    Country <input type="text" name="place[country]">
  </li>
  <li>
    City <input type="text" name="place[city]">
  </li>
  <li>
    Neighborhood <input type="text" name="place[neighborhood]">
  </li>
</ul>

  <input type="submit">

</form>

