<form action="<%= perform_search_url %>" method="post" >
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

    <select name="search[city]">
      <option value="">Select a City</option>
      <option value="New York">New York</option>
      <option value="San Francisco">San Francisco</option>
    </select>


  <label for="in">
    Check in
    <input type="text" name="search[start_date]" class="datepicker-search" id="in">
  </label>

  <label for="out">
    Check out
    <input type="text" name="search[end_date]" id="out" class="datepicker-search">
  </label>

  <button type="submit">Search</button>

</form>