/*/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html,body, header, footer, section, article, div,
strong, a, img, p, h1, h2, h3, time, ul, li, small,
form, label {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
}

input[type="text"],
input[type="submit"],
input[type="password"],
button,
textarea {
  display: inline-block;
  box-sizing: content-box;
  -webkit-appearance: none;
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  font: inherit;
  background: transparent;
  vertical-align: baseline;
  color:inherit;

}

body {
  font-family: sans-serif;
  background-color: #eee;
  font-size: 16px;
  overflow: hidden;

}

 ul {
  list-style: none;
}

 a {
  display: block;
  text-decoration: none;
  color: inherit;
  overflow: hidden;
}



strong {
  font-weight: bold;
}

img {
  display: block;
}

.group:after{
  content: "";
  clear: both;
  display: block;
}

header{
  background-color: rgb(17, 15, 15);
  height: 50px;
  width:100%;
  min-width:200px;
  vertical-align: middle;

  color:rgb(167, 167, 191);
  overflow: hidden;
}

header .header-logo-search{
  float: left;
  height:100%;

  width: 30%;
}

header .header-links{
  float: right;

  width:400px;
}

header li{
  float: left;
  height: 100%;
  width: 40%;
  text-align:center;
  font-weight: bold;

}

header li a{
  display: block;
  height:50px;
  text-align:center;
  line-height: 50px;
}


header li input[type="submit"]{
  display:block;
  height:50px;
  text-align:center;
  width: 100%;
}

header li.profile div{
  float:left;
  width:60%;

}

header li.profile img.min-pic{
  display:block;
  float:left;
  border-radius: 50px;
  max-height: 100%;
}


header .header-logo-search li {
  border-right: 1px solid white;
}

header .header-links li{
  border-left: 1px solid white;
}

header .header-logo-search li:first-child{
  font-family: "Brush Script MT", cursive;
  font-weight: bold;
  font-size: 32px;

}


header li:hover{
  background: rgb(89, 88, 92);
  color:white;
  cursor: pointer;
}

.content {
  width: 960px;
  padding: 20px;
  margin: auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.content button{
    margin-top: 5px ;
    border-radius: 10px;
    background-color: black;
    padding:3px 10px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.content button:hover{
  background-color:rgb(70, 68, 68);
  cursor: pointer;
  box-shadow: 2px 2px 2px #888888;

}

.content {
  background-color:white;
  height:1000px;
}

