<style>

</style>

<div class='minishow'>
  <div class="mini-info">
    <img src='<%= place.owner.picture.url(:small) %>'>
    <h3> <%= place.title %>  </h3>
  </div>

  <a href='<%= place_url(place) %>'><img src='<%= place.place_pics[0].picture.url(:large) %>'></a>

</div>