<script>
$(document).ready(function () {

  $(".datepicker").datepicker({ dateFormat: 'dd-mm-yy'})

})
</script>




<div class="new-search">
  <div class="search-form">
    <%= render "searches/form" %>
  </div>
</div>


<div class="sample-places">
<ul>
<% @places.each do |place| %>
 <li> <%= render "minishow", place: place %></li>
<% end %>
</ul>
</div>