<% content_for :home do %>
  <script>
  $(document).ready(function () {

    $(".datepicker").datepicker({ dateFormat: 'dd-mm-yy'})
    $(".new-search").backstretch([
      "/images/home5.jpg",
      "/images/home3.jpg",
      "/images/home4.jpg"
      ],{duration:3000,fade:750});

  })
  </script>

  <style>
  .errors{
    position:absolute;
  }

  body{
    overflow:auto;
  }

  .sidebar{
    height:920px;
  }

  .content{
    display:none;
  }

  h1{
    text-align: center;
    margin-top:20px;
    font-size:40px;
    font-weight:bold;
  }

  .sample-places ul{

    width:860px;
    height:205px;
  }
  .sample-places {
    width:860px;
  }


  </style>


  <div class="new-search">
    <div class="for-logo group">
      <img src="/images/logo.png">
      <h2>a room finder for dogs</h2>
    </div>
    <div class="search-form">
      <%= render "searches/form" %>
    </div>
  </div>

  <h1>Check Out This Places!</h1>
  <div class="sample-places">
  <ul>
  <% @places.each do |place| %>
   <li> <%= render "minishow", place: place %></li>
  <% end %>
  </ul>
  </div>

<% end %>